<h1>作業詳細</h1>

<div>
  <p>作業名：<%= @post_work.name %></p>
  <p>作業内容：<%= @post_work.work %></p>
  <p>作業区画：<%= @post_work.area %></p>
  <p>作業開始日時：<%= @post_work.start_at %></p>
  <p>作業終了日時：<%= @post_work.end_at %></p>
  <p>作業責任者：<%= @post_work.user.name %></p>

  <% if @post_work.user == current_user %>
    <%=link_to "編集", edit_project_post_work_path(@project.id, @post_work.id) %>
    <%=link_to "削除", project_post_work_path(@project.id, @post_work.id), method: :delete %>
  <% end %>
</div>