<div class="container text-center">
<h1>検索結果</h1>

  <% if @range == "User" %>
    <table class="table">
      <tr>
        <th>所属</th>
        <th>氏名</th>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.team %></td>
          <td><%= link_to "#{user.name}", user_path(user.id) %></td>
        </tr>
      <% end %>
    </table>

  <% else %>

    <table class="table">
      <tr>
        <th>プロジェクト名</th>
        <th>作業名</th>
        <th>作業開始日時</th>
      </tr>

      <% @post_works.each do |post_work| %>
        <tr>
          <td><%= link_to "#{post_work.project.name}", project_post_works_path(post_work.project_id) %></td>
          <td><%= link_to "#{post_work.name}", project_post_work_path(post_work.project_id, post_work.id) %></td>
          <td><%= l post_work.start_time, format: :short %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

</div>
