<div class="container text-center">

  <h1><%= @project.name %> <br> 作業予定</h1>

  <br>
  <div>
    <%= link_to new_project_post_work_path(@project.id) do %>
      <button type="button" class="btn btn-success w-50">
        新規投稿
      </button>
    <% end %>
  </div>
  <br>
  <br>

  <div>
    <%= month_calendar events: @project.post_works do |date, post_works| %>
      <%= date.day %><br>
      <% post_works.each do |post_work| %>
        <p><%= link_to "#{post_work.name}", project_post_work_path(@project.id, post_work.id) %></p>
      <% end %>
    <% end %>
  </div>

</div>