<h1>作業詳細</h1>

<div>
  <p>プロジェクト名：<%= link_to "#{@post_work.project.name}", project_post_works_path(@project.id) %></p>
  <p>作業名：<%= @post_work.name %></p>
  <p>作業内容：<%= @post_work.work %></p>
  <p>作業区画：<%= @post_work.area %></p>
  <p>作業開始日時：<%= @post_work.start_time %></p>
  <p>作業終了日時：<%= @post_work.end_time %></p>
  <p>作業責任者：<%= link_to "#{@post_work.user.name}", user_path(@post_work.user.id) %></p>

  <p><%= @post_work.acknowledgements.count %>人が承認しました</p>
  <p><%= link_to "承認した人リスト", acknowledges_user_path %></p>

  <% unless @post_work.user == current_user %>
    <% if @post_work.acknowledged_by?(current_user) %>
      <p>
        <%= link_to project_post_work_acknowledgement_path(@project.id, @post_work.id), method: :delete do %>
          ☑承認済
        <% end %>
      </p>
    <% else %>
      <p>
        <%= link_to project_post_work_acknowledgement_path(@project.id, @post_work.id), method: :post do %>
          ☐承認しますか？
        <% end %>
      </p>
    <% end %>
  <% end %>

  <p>
  <% if @post_work.user == current_user %>
    <%=link_to "編集", edit_project_post_work_path(@project.id, @post_work.id) %> | 
    <%=link_to "削除", project_post_work_path(@project.id, @post_work.id), method: :delete, "data-confirm" => "Are you sure you want to delete the post?" %>
  <% end %>
  </p>
</div>

<p>==================================================</p>

<div>
  <p>コメント件数：<%= @post_work.post_comments.count %></p>
  <% @post_work.post_comments.each do |post_comment| %>
    <p><%= post_comment.user.team %> : <%= post_comment.user.name %></p>
    <p><%= post_comment.comment %></p>

    <% if post_comment.user == current_user %>
      <%= link_to "削除", project_post_work_post_comment_path(@project.id, @post_work.id, post_comment.id), method: :delete, "data-confirm" => "Are you sure you want to delete your comment?" %>
    <% end %>

    <p>------------------------------</p>
  <% end %>    
</div>

<div>
  <%= form_with model: [@project, @post_work, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
