<div class="container text-center"> 
<h1>作業詳細</h1>

  <div class="row">
    <div class="col-lg-8 text-center">
      <div class="row">
        <table class="table">
          <tr>
            <th>プロジェクト名</th>
            <td><%= link_to "#{@post_work.project.name}", project_post_works_path(@project.id) %></td>
          </tr>
          <tr>
            <th>作業名</th>
            <td><%= @post_work.name %></td>
          </tr>
          <tr>
            <th>作業内容</th>
            <td><p><%= @post_work.work %></p></td>
          </tr>
          <tr>
            <th>作業区画</th>
            <td><%= @post_work.area %></td>
          </tr>
          <tr>
            <th>作業開始日時</th>
            <td><%= l @post_work.start_time, format: :short %></td>
          </tr>
          <tr>
            <th>作業終了日時</th>
            <td><%= l @post_work.end_time, format: :short %></td>
          </tr>
          <tr>
            <th>作業責任者</th>
            <td><%= link_to "#{@post_work.user.name}", user_path(@post_work.user.id) %></td>
          </tr>
        </table>
      </div>

      <div class="row d-flex justify-content-center">

        <ul class="list-unstyled">

          <li>
          <%= link_to acknowledged_users_user_path do %>
            <button type="button" class="btn btn-outline-dark">
              承認した人リスト
            </button>
          <% end %>
          </li>
          <br>

          <% unless @post_work.user == current_user %>
          <li>
            <%= render partial: "public/acknowledgements/acknowledgement", locals: { post_work:@post_work } %>
          </li>
          <% end %>
          <% if @post_work.user == current_user %>
            <li>
              <%=link_to edit_project_post_work_path(@project.id, @post_work.id) do %>
                <button type="button" class="btn btn-outline-dark">
                  内容を編集
                </button>
              <% end %>
              <%=link_to project_post_work_path(@project.id, @post_work.id), method: :delete, "data-confirm" => "本当に削除してよろしいですか?" do %>
                <button type="button" class="btn btn-outline-dark">
                  削除
                </button>
              <% end %>
            </li>
            <br>
          <% end %>
        </ul>
      </div>
    </div>



    <div class="col-lg-4 text-center">
      <h3>コメント件数：<%= @post_work.post_comments.count %></h3>
      <p>-----------------------------------------------------</p>
      <% @post_work.post_comments.each do |post_comment| %>
        <p>投稿者 : <%= link_to "#{post_comment.user.name}", user_path(post_comment.user.id) %></p>
        <p><%= post_comment.comment %></p>

        <% if post_comment.user == current_user %>
          <%= link_to project_post_work_post_comment_path(@project.id, @post_work.id, post_comment.id), method: :delete, "data-confirm" => "コメントを削除します。よろしいですか?" do %>
            <button type="button" class="btn btn-outline-dark">
              削除
            </button>
          <% end %>
        <% end %>
        <p>-----------------------------------------------------</p>
      <% end %>

      <% unless @post_work.user == current_user %>
        <%= form_with model: [@project, @post_work, @post_comment] do |f| %>
          <%= f.text_area :comment, cols: '30', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
