<h1>ユーザープロフィール</h1>

<div>
  <p>氏名：<%= @user.name %></p>
  <p>所属：<%= @user.team %></p>
  <p>電話番号：<%= @user.telephone_number %></p>
  <p>メールアドレス：<%= @user.email %></p>

  <%= link_to "退会処理", admin_user_path(@user.id), method: :delete, "data-confirm" => "Are you sure you want to delete the user?" %>
</div>