<div class="container text-center">
<h2>※新規投稿時 <br> フォロー/フォロワー <br> すべてのユーザーへ <br> 通知されます</h2><br>

  <div class="row">
    <div class="col">
      <h4><%= "#{@user.name}" %>がフォローしているユーザー</h4>

      <% if @user.following_users.present? %>
        <table class="table">
          <tr>
            <th>所属</th>
            <th>氏名</th>
          </tr>
          <% @user.following_users.each do |following_user| %>
            <tr>
              <td><%= "#{following_user.team}" %></td>
              <td><%= link_to "#{following_user.name}", user_path(following_user.id) %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>フォローしていません</p>
      <% end %>
    </div>

    <div class="col">
      <h4><%= "#{@user.name}" %>をフォローしているユーザー</h4>

      <% if @user.followers.present? %>
        <table class="table">
          <tr>
          <th>所属</th>
          <th>氏名</th>
          </tr>

          <% @user.followers.each do |follower| %>
            <tr>
              <td><%= "#{follower.team}" %></td>
              <td><%= link_to "#{follower.name}", user_path(follower.id) %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <p>フォロワーはいません</p>
      <% end %>
    </div>
  </div>

</div>