<div class="row">

  <div class="col-lg-7 text-center">
    <h1>ユーザープロフィール</h1>

    <div class="row">
      <table class="table">
        <tr>
          <th>氏名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>所属</th>
          <td><%= @user.team %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @user.telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>

    <div class="row d-flex justify-content-center">
      <ul class="list-unstyled">
        <li><%= link_to "フォロー/フォロワーリスト", following_users_user_path(@user.id) %></li>
        <br>

        <% if @user == current_user %>
          <li><%= link_to "プロフィール編集", edit_user_path(current_user.id) %></li>
          <li><%= link_to "退会処理", user_path(current_user.id), method: :delete, "data-confirm" => "本当に退会しますか?" %></li>
        <% else %>
          <li><%= render partial: "public/relationships/relationship", locals: { user: @user } %></li>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="col-lg-5">

  <h2>投稿一覧</h2>
  <p>==============================</p>

  <% @post_works.each do |post_work| %>

    <div>
      <p>プロジェクト名：
        <%= link_to "#{post_work.project.name}", project_post_works_path(post_work.project_id) %>
      </p>
      <p>作業名：
        <%= link_to "#{post_work.name}", project_post_work_path(post_work.project_id, post_work.id) %>
      </p>
      <p>作業開始日時：<%= l post_work.start_time, format: :short %></p>
    </div>

    <p>----------------------------------------</p>
  <% end %>

  </div>
</div>

