<div class="row">

  <div class="col-lg-7 text-center">
    <h1>プロフィール</h1>

    <div class="row">
      <table class="table">
        <tr>
          <th>氏名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>所属</th>
          <td><%= @user.team %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @user.telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>

    <div class="row d-flex justify-content-center">
      <ul class="list-unstyled">
        <li>
          <%= link_to following_users_user_path(@user.id) do %>
            <button type="button" class="btn btn-outline-dark">
              フォロー/フォロワーリスト
            </button>
          <% end %>
        </li>
        <br>

        <% if @user == current_user %>
          <li>
            <%= link_to edit_user_path(current_user.id) do %>
              <button type="button" class="btn btn-outline-dark">
                プロフィール編集
              </button>
            <% end %>
          </li>
          <br>
          <li>
            <%= link_to user_path(current_user.id), method: :delete, "data-confirm" => "本当に退会しますか?" do %>
              <button type="button" class="btn btn-outline-dark">
                退会処理
              </button>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= render partial: "public/relationships/relationship", locals: { user: @user } %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="col-lg-5 text-center">
  <h2>投稿一覧</h2>

    <table class="table">
      <tr>
        <th>プロジェクト名</th>
        <th>作業名</th>
        <th>作業開始日時</th>
      </tr>

      <% @post_works.each do |post_work| %>
        <tr>
          <td><%= link_to "#{post_work.project.name}", project_post_works_path(post_work.project_id) %></td>
          <td><%= link_to "#{post_work.name}", project_post_work_path(post_work.project_id, post_work.id) %></td>
          <td><%= l post_work.start_time, format: :short %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>

