<!DOCTYPE html>
<html>
  <head>
    <title>Admin - manasuke</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

  <div class="header row bg-dark py-3">



    <% if admin_signed_in? %>

      <div class="col-sm-4 text-center">
        <%= link_to root_path, class: 'text-light' do %>
          トップページ
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to admin_dashboards_index_path, class: 'text-light' do %>
          管理者トップページ
        <% end %>
      </div>

      <div class="col-sm-4 text-center">
        <%= link_to destroy_admin_session_path, method: :delete, class: 'text-light' do %>
          ログアウト
        <% end %>
      </div>

    <% else %>

      <div class="col-sm-3 text-center">
        <%= link_to root_path, class: 'text-light' do %>
          トップページ
        <% end %>
      </div>

      <div class="col-sm-3 text-center">
        <%= link_to new_user_registration_path, class: 'text-light' do %>
          新規登録
        <% end %>
      </div>

      <div class="col-sm-3 text-center">
        <%= link_to new_user_session_path, class: 'text-light' do %>
          ログイン
        <% end %>
      </div>

      <div class="col-sm-3 text-center">
        <%= link_to new_admin_session_path, class: 'text-light' do %>
          管理者ログイン
        <% end %>
      </div>
      
    <% end %>

  </div>

  <p class="notice text-center"><%= notice %></p>
  <p class="alert text-center"><%= alert %></p>

  <%= yield %>
</body>
</html>