<!DOCTYPE html>
<html>
  <head>
    <title>Manasuke</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header row bg-dark py-3">

      <div class="col-2">
        <%= link_to root_path, class: 'text-light' do %>
          <span class="px-2"> トップページ </span>
        <% end %>
      </div>
    
      <% if user_signed_in? %>

        <div class="col-5">
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word, size: 30, placeholder: '作業名もしくはユーザー名を入力' %>
            <%= f.select :range, options_for_select([['PostWork'], ['User']]) %>
            <%= f.select :search, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"]]) %>
            <%= f.submit "検索" %>
          <% end %>
        </div>

        <div class="col-5">
          <%= link_to projects_path, class: 'text-light' do %>
            <span class="px-2"> プロジェクト一覧 </span>
          <% end %>
          <%= link_to users_path, class: 'text-light' do %>
            <span class="px-2"> ユーザー一覧 </span>
          <% end %>
          <%= link_to user_path(current_user.id), class: 'text-light' do %>
            <span class="px-2"> マイページ </span>
          <% end %>
          <%= link_to notifications_path, class: 'text-light' do %>
            <span class="px-2"> 通知一覧 </span>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'text-light' do %>
            <span class="px-2"> ログアウト </span>
          <% end %>
        </div>

      <% else %>

      <div class="col-5 offset-5">
      
        <%= link_to homes_guest_sign_in_path, method: :post, class: 'text-light' do %>
        <span class="px-2"> ゲストログイン(閲覧用) </span>
        <% end %>

        <%= link_to new_user_registration_path, class: 'text-light' do %>
          <span class="px-2"> 新規登録 </span>
        <% end %>
        <%= link_to new_user_session_path, class: 'text-light' do %>
          <span class="px-2"> ログイン </span>
        <% end %>
        <%= link_to new_admin_session_path, class: 'text-light' do %>
          <span class="px-2"> 管理者ログイン </span>
        <% end %>
      </div>

      <% end %>
    
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
  </body>
</html>
