<!DOCTYPE html>
<html>
  <head>
    <title>Manasuke</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/e3698def12.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header row bg-dark py-3">

      <% if user_signed_in? %>

        <div class="col-sm-5 text-center">
          <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word, size: 30, placeholder: '作業名もしくはユーザー名を入力' %>
            <%= f.select :range, options_for_select([['作業名','PostWork'], ['ユーザー','User']]) %>
            <%= f.select :search, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"]]) %>
            <%= f.submit "検索" %>
          <% end %>
        </div>

        <div class="col-sm-2 text-center">
          <%= link_to notifications_path, class: 'text-light' do %>
            <% if current_user.notifications.where(checked: false).exists? %>
              <i class="fa-sharp fa-solid fa-bell" style="color: #FF0000"></i>
            <% else %>
              <i class="fa-sharp fa-solid fa-bell"></i>
            <% end %>
            通知一覧
          <% end %>
        </div>

        <div class="col-sm-2 text-center">
          <%= link_to projects_path, class: 'text-light' do %>
            プロジェクト一覧
          <% end %>
        </div>

        <div class="col-sm-1 text-center">
          <%= link_to users_path, class: 'text-light' do %>
            ユーザー一覧
          <% end %>
        </div>

        <div class="col-sm-1 text-center">
          <%= link_to user_path(current_user.id), class: 'text-light' do %>
            マイページ
          <% end %>
        </div>

        <div class="col-sm-1 text-center">
          <%= link_to destroy_user_session_path, method: :delete, class: 'text-light' do %>
            ログアウト
          <% end %>
        </div>

      <% else %>

        <div class="col-sm-3 text-center">
          <%= link_to root_path, class: 'text-light' do %>
            トップページ
          <% end %>
        </div>

        <div class="col-sm-3 text-center">
          <%= link_to new_user_registration_path, class: 'text-light' do %>
            新規登録
          <% end %>
        </div>

        <div class="col-sm-3 text-center">
          <%= link_to new_user_session_path, class: 'text-light' do %>
            ログイン
          <% end %>
        </div>

        <div class="col-sm-3 text-center">
          <%= link_to new_admin_session_path, class: 'text-light' do %>
            管理者ログイン
          <% end %>
        </div>

      <% end %>
    
    </div>

    <p class="notice text-center"><%= notice %></p>
    <p class="alert text-center"><%= alert %></p>

    <%= yield %>
    
  </body>
</html>
